<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoxi.mapper.UserMapper">
<!--    Where_User_Clause = where条件集合-->
    <sql id="Where_User_Clause" >
        <if test="userName != null and userName != '' ">
            AND u.username = #{userName}
        </if>

        <if test="passWord != null and passWord != '' ">
            AND u.password = #{passWord}
        </if>

        <if test="size != null and size != '' ">
            AND u.size = #{size}
        </if>
    </sql>
    <select id="IsExitsUser" parameterType="java.util.Map" resultType="java.lang.Boolean">
        select
            nullif (u.id,0) `isExitsUser`
        from user u
        where 1=1
        <include refid="Where_User_Clause" />

    </select>
</mapper>